mixin notes(header)
  h1= header
  p(data-ng-hide="!notes || notes.length")
    | No Notes yet. Why don't you 
    a(data-ui-sref="createNote")
      | Create One 
    | ?
  ul.list-group
    li.list-group-item(data-ng-repeat="note in notes")
      .pull-right
        span(data-ng-repeat="tag in note.tags")
          a.btn-sm.btn-primary(data-ng-bind="tag.text")
      .pull-right(data-ng-show="isEditable(note)")
        a.btn(data-ui-sref="editNote({id: note._id})")
          i.glyphicon.glyphicon-edit
        a.btn(data-ng-click="remove(note)")
          i.glyphicon.glyphicon-trash
      a(data-ui-sref="viewNote({id: note._id})")
        .list-group-item-heading(data-ng-bind="note.title")
  script(type="text/ng-template", id="removeConfirmation.html")
    .modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button", class="close", data-ng-click="close('Cancel')", data-dismiss="modal", aria-hidden="true")
              &times;
            .modal-title
            .modal-body
              Are you OK?
            .modal-footer
              button.btn.btn-default(type="button", data-ng-click="close('No')")
