div(ng-include='"components/navbar/navbar.html"')

.container
  section(data-ng-controller="NoteCtrl", data-ng-init="findOne()")
    h1(data-ng-bind="note.title")
    .pull-right
      a.btn(data-ui-sref="editNote({id: note._id})")
        i.glyphicon.glyphicon-edit
      a.btn(data-ng-click="remove()")
        i.glyphicon.glyphicon-trash
    span(marked="note.content")
 

